body,
wrapper {
    min-height: 100vh;
}

body {
    background-image: url(../images/background.jpg);
    box-sizing: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 120% auto;
    height: 100%;
    background-size: cover;
}

.carousel-indicators .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.footer {
    color: white;
    clear: both;
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    padding: 0rem;
}

.simon {
    font-size: 12px;
    font-weight: 700;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: black border 1px solid black;
    background: transparent;
    border-collapse: collapse;
    color: white;
    border-width: thin;
    background-color: rgba(0, 0, 0, 0.7);
}

#withoutText {
    display: none;
}

@media screen and (max-width: 600px) {

    #withText {
        display: none;
    }

    #withoutText {
        display: initial;
    }
}